# Python
__pycache__/
*.pyc
*.pyo

# Django
*.sqlite3
*.log
/media/
staticfiles/

# Virtual environment
venv/
.env
env/

# IDE settings
.vscode/
.idea/

# Ignore Django migrations
static/admin/
static/rest_framework/
static/import_export/


*.swp
backup.json
.env
